<li id ="comment-<%= comment._id%>">
    <% if(locals.user && comment.user.id==locals.user.id) {%>
    <small><a href="/comments/destroy/<%= comment.id%>" class="delete-comment-button">X</a></small>
    <% } %> <%= comment.content %>
    <br />
    <small><%= comment.user.name %></small>
  </li>