<h1>Profile Page is Reached</h1>
<section id="feed-posts">
    <% if(locals.user){ %>
    <h4>Posts</h4>
    <form action="/posts/create" method="post">
    <textarea name="content"  cols="30" rows="10"></textarea>
    <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="post-list-contatiner">
        <ul>
            <% for(let post of posts){ %>

                <li>
                    <p>
                        <%= post.content %>
                        <br>
                        <small><%=post.user.name %></small>
                    </p>
                </li>

                <% } %>
        </ul>
    </div>
</section>